#board {
    display: grid;
    grid-template-columns: repeat(15, 20px); 
    grid-template-rows: repeat(15, 20px);
}

.square {
  width: 20px;
  height: 20px;
  background-color: red;
  margin: 10px;
}
